@media (max-width: 1200px) {
    .link {
        margin-left: 0;
        padding: 15px;
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .bottom_content {
        width: 100%;
    }

    .bottom_content-card {
        width: 49%;
        margin-bottom: 30px;
    }

    .bottom_content-title {
        font-size: 35px;
    }

    .bottom_content-text {
        margin-bottom: 15px;
    }

    .bottom_content-link {
        padding: 10px 80px;
        font-size: 20px;
    }
}

@media (max-width: 992px) {

    .intro_content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .intro-photo {
        width: 75%;
        margin-top: 30px;
    }

    .top_content-text {
        margin-top: 0;
        margin-left: 40px;
    }

    .top_content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .mid-photo {
        width: 25%;
        height: 30%;
        margin-top: 70px;
    }

    .mid_text-left {
        margin-top: 100px;
        margin-right: 30px;
        font-size: 22px;
    }

    .mid_text-right {
        margin-top: 100px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .header__content-left {
        flex-direction: column;
    }

    .header__content {
        flex-direction: column;
    }

    .intro_content-text {
        font-size: 20px;
    }

    .header__content-right {
        margin-top: 15px;
    }

    .header__intro-title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .intro-photo {
        width: 80%;
    }

    .top-photo {
        width: 70%;
    }

    .mid_text-left {
        margin-left: 15px;
        margin-right: 0;
        font-size: 20px;
    }

    .mid-photo {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .mid_text-right {
        margin-top: 40px;
        margin-left: 15px;
    }

    .bottom_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mid_content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .bottom_content-title {
        font-size: 25px;
    }

    .bottom_content-link {
        padding: 7px 57px;
    }
}

@media (max-width: 430px) {
    .header__intro-title {
        font-size: 40px;
    }

    .intro-photo {
        width: 95%;
    }

    .top-photo {
        width: 75%;
    }

    .top_content-text {
        margin-left: 25px;
    }

    .mid-photo {
        width: 35%;
    }

    .bottom_content-card {
        width: 70%;
    }
}